<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self' https://viacep.com.br;">
    <title>Conest - Clientes</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Clientes</h1>
        <form id="frmClient" class="mt-2 row g-3">

            <!-- Buscar Cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false"
                    placeholder="">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarCliente()">Buscar</button>
            </div>
            <hr class="mt-4 border border-secondary border -1">

            <!-- ID do cliente -->
            <div class="col-md-6" id="idClient">
                <input class="form-control" type="text" id="inputIdClient" placeholder="id">
            </div>

            <!--Bloqueio do formulario inputs
            <div class="bloqueio">-->

            <!-- Nome do cliente -->
            <div class="col-md-6">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input class="form-control" type="text" id="inputNameClient" spellcheck="false" maxlength="50" required>
            </div>

            <div class="col-md-4">
                <label for="inputCpfClient" class="form-label">CPF <span class="text-danger"></span></label>
                <input class="form-control" type="text" id="inputCpfClient" spellcheck="false" required maxlength="14"
                    oninput="validarCPF(this)" onblur="validarCPF(this)">
                <small id="cpfHelp" class="form-text"></small> <!-- Mensagem de erro/sucesso -->
            </div>
            <!--ATTCNST-->

            <div class="email-cep-ddd-telefone-container row">
                <!-- E-mail -->
                <div class="col-md-4">
                    <label for="inputEmailClient" class="form-label">E-mail</label>
                    <input class="form-control" type="email" id="inputEmailClient" spellcheck="false" maxlength="50"
                        required>
                </div>

                <!-- CEP -->
                <div class="col-md-2">
                    <label for="inputCepClient" class="form-label">CEP</label>
                    <input class="form-control" type="text" id="inputCepClient" maxlength="9">
                </div>

                <!-- DDD e Telefone -->
                <div class="col-md-5 ddd-telefone-container">
                    <div class="col-md-2">

                        <label for="inputdddClient" class="form-label">Telefone</label>
                        <input class="form-control" type="tel" id="inputdddClient" spellcheck="false" maxlength="2">
                    </div>
                    <div class="col-md-5">
                        <label for="inputTelefoneClient" class="form-label text-white">_</label>
                        <input class="form-control" type="text" id="inputTelefoneClient" spellcheck="false"
                            maxlength="9" required>
                    </div>
                </div>
            </div>

            <!-- Logradouro -->
            <div class="col-md-6">
                <label for="inputLogradouroClient" class="form-label">Logradouro</label>
                <input class="form-control" type="text" id="inputLogradouroClient">
            </div>

            <!-- Bairro -->
            <div class="col-md-4">
                <label for="inputBairroClient" class="form-label">Bairro</label>
                <input class="form-control" type="text" id="inputBairroClient">
            </div>

            <!-- cidade -->
            <div class="col-md-4">
                <label for="inputCidadeClient" class="form-label">Cidade</label>
                <input class="form-control" type="text" id="inputCidadeClient">
            </div>

            <!-- UF -->
            <div class="col-md-1">
                <label for="inputUfClient" class="form-label">UF</label>
                <select class="form-control" id="inputUfClient">
                    <option value=""></option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>
            <!-- Número-->
            <div class="col-md-2">
                <label for="inputNumeroClient" class="form-label">Número</label>
                <input class="form-control" type="number" id="inputNumeroClient">
            </div>

            <!-- Complemento-->
            <div class="col-md-2">
                <label for="inputComplementoClient" class="form-label">Complemento</label>
                <input class="form-control" type="text" id="inputComplementoClient">
            </div>



            <!--</div> FIM DO BLOQUEIO-->

            <!-- Botões -->
            <div class="col-md-6 mt-5 d-flex">
                <button type="submit" class="btn btn-success ms-2" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning ms-2" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger ms-2" id="btnDelete" onclick="excluirCliente()">Excluir</button>
                <button type="reset" class="btn btn-info ms-2 text-white" id="btnReset" onclick="resetForm()">Limpar</button>
            </div>

        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="clientes.js"></script>
    <script src="../public/js/validarcpf.js"></script>
</body>

</html>